appnope
asttokens
awscrt
boto3
botocore
certifi
charset-normalizer
comm
debugpy
decorator
executing
idna
ipykernel
ipython
ipywidgets
jedi
jmespath
jupyter_client
jupyter_core
jupyterlab_widgets
matplotlib-inline
nest-asyncio
packaging
parso
pexpect
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
python-dateutil
pyzmq
requests
s3transfer
six
stack-data
tornado
traitlets
urllib3
wcwidth
widgetsnbextension
